In [62]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
data=pd.read_csv("ipl.csv")
data

,PLAYER,Mat.x,Inns.x,NO,Runs.x,HS,Avg.x,BF,SR.x,X100,...,Ov,Runs.y,Wkts,BBI,Avg.y,Econ,SR.y,X4w,X5w,y
0,Aaron Finch,10,9,1,134,46,16.75,100,134.00,0,...,0.0,0,0,0,0,0.00,0,0,0,0
1,AB de Villiers,12,11,2,480,90,53.33,275,174.54,0,...,0.0,0,0,0,0,0.00,0,0,0,0
2,Abhishek Sharma,3,3,2,63,46,63,33,190.90,0,...,0.0,0,0,0,0,0.00,0,0,0,0
3,Ajinkya Rahane,15,14,1,370,65,28.46,313,118.21,0,...,0.0,0,0,0,0,0.00,0,0,0,0
4,Alex Hales,6,6,0,148,45,24.66,118,125.42,0,...,0.0,0,0,0,0,0.00,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Siddarth Kaul,0,0,0,0,0,0,0,0.00,0,...,66.0,547,21,0,26.04,8.28,18.85,0,0,0
139,Trent Boult,0,0,0,0,0,0,0,0.00,0,...,52.4,466,18,0,25.88,8.84,17.55,0,0,0
140,Umesh Yadav,0,0,0,0,0,0,0,0.00,0,...,53.1,418,20,0,20.9,7.86,15.95,0,0,0
141,Vi0y Kumar,0,0,0,0,0,0,0,0.00,0,...,3.5,65,2,0,32.5,16.95,11.5,0,0,0
142,Yuzvendra Chahal,0,0,0,0,0,0,0,0.00,0,...,50.0,363,12,0,30.25,7.26,25,0,0,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  143 non-null    object
 1   Mat.x   143 non-null    int64
 2   Inns.x  143 non-null    int64
 3   NO      143 non-null    int64
 4   Runs.x  143 non-null    int64
 5   HS      143 non-null    int64
 6   Avg.x   143 non-null    object
 7   BF      143 non-null    int64
 8   SR.x    143 non-null    float64
 9   X100    143 non-null    int64
 10  X50     143 non-null    int64
 11  X4s     143 non-null    int64
 12  X6s     143 non-null    int64
 13  Mat.y   143 non-null    int64
 14  Inns.y  143 non-null    int64
 15  Ov      143 non-null    float64
 16  Runs.y  143 non-null    int64
 17  Wkts    143 non-null    int64
 18  BBI     143 non-null    int64
 19  Avg.y   143 non-null    object
 20  Econ    143 non-null    float64
 21  SR.y    143 non-null    object
 22  X4w     143 non-null    int64
 23  X5w     143 non-null    int64
 24  y       143 non-null    int64
dtypes: float64(3), int64(18), object(4)
memory usage: 28.1+ KB

In [40]:
data.dtypes

PLAYER     object
Mat.x       int64
Inns.x      int64
NO          int64
Runs.x      int64
HS          int64
Avg.x     float64
BF          int64
SR.x      float64
X100        int64
X50         int64
X4s         int64
X6s         int64
Mat.y       int64
Inns.y      int64
Ov        float64
Runs.y      int64
Wkts        int64
BBI         int64
Avg.y     float64
Econ      float64
SR.y       object
X4w         int64
X5w         int64
y           int64
dtype: object

In [42]:
data["SR.y"].unique()

array(['0', '17.46', '14', '52', '51', '27.75', '30.77', '12.2', '28',
       '13.75', '45', '17.33', '18', '17.75', '22.9', '-', '22.92',
       '19.2', '27.28', '14.22', '15', '27.45', '15.53', '21.81', '20.08',
       '22', '17.6', '63', '26.33', '30', '22.36', '9.25', '21', '19.42',
       '30.4', '24.42', '17.5', '33.6', '16.9', '21.52', '34.8', '10.16',
       '12', '18.5', '14.27', '24', '28.5', '33', '29.75', '20.66',
       '27.6', '19.05', '14.25', '18.11', '32.5', '37.5', '14.18',
       '17.14', '27.66', '25.42', '17.71', '23.57', '16.8', '14.4',
       '18.85', '17.55', '15.95', '11.5', '25'], dtype=object)

In [43]:
np_arr=np.array(data["SR.y"])
for i in range(len(np_arr)):
    if(np_arr[i]!='-'):
       np_arr[i]=float(np_arr[i])
    else:
        np_arr[i]=0
data["SR.y"]=np_arr

In [44]:
data["Avg.x"].unique()

array([16.75, 53.33, 63.  , 28.46, 24.66, 43.  , 28.72,  5.33, 13.33,
       24.  , 16.33,  6.5 , 21.16, 25.  , 40.88, 32.73, 46.  ,  8.5 ,
       26.2 , 12.6 ,  5.66, 16.42, 13.  , 37.  , 16.66, 21.75, 49.8 ,
       35.25, 29.38, 32.4 , 17.  , 14.08,  9.66, 28.88, 60.  , 19.  ,
       22.91, 30.  , 12.25,  3.  , 54.8 , 36.  , 52.5 , 25.08,  0.  ,
       14.  , 22.8 , 54.91, 20.  , 13.75, 25.2 , 25.81, 15.66, 24.75,
       12.  , 10.5 , 19.25,  9.  , 12.5 , 75.83, 23.38, 30.6 ,  6.75,
       27.22, 25.12, 25.11, 11.8 , 12.75, 17.8 ,  7.25, 52.61, 21.93,
       23.83, 13.5 , 31.5 , 10.2 , 21.72, 39.64, 38.23,  4.33, 17.33,
       37.36, 33.83,  8.8 , 22.31, 37.08, 36.57, 26.  ,  7.66, 53.  ,
       48.18, 21.66, 15.25, 10.83])

In [45]:
np_arr=np.array(data["Avg.x"])
for i in range(len(np_arr)):
    if(np_arr[i]!='-'):
       np_arr[i]=float(np_arr[i])
    else:
        np_arr[i]=0
data["Avg.x"]=np_arr

In [46]:
np_arr=np.array(data["Avg.y"])
for i in range(len(np_arr)):
    if(np_arr[i]!='-'):
       np_arr[i]=float(np_arr[i])
    else:
        np_arr[i]=0
data["Avg.y"]=np_arr

In [50]:
data["Avg.x"]=data["Avg.x"].astype(float)
data["Avg.y"]=data["Avg.y"].astype(float)
data["SR.y"]=data["SR.y"].astype(float)

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  143 non-null    object
 1   Mat.x   143 non-null    int64
 2   Inns.x  143 non-null    int64
 3   NO      143 non-null    int64
 4   Runs.x  143 non-null    int64
 5   HS      143 non-null    int64
 6   Avg.x   143 non-null    float64
 7   BF      143 non-null    int64
 8   SR.x    143 non-null    float64
 9   X100    143 non-null    int64
 10  X50     143 non-null    int64
 11  X4s     143 non-null    int64
 12  X6s     143 non-null    int64
 13  Mat.y   143 non-null    int64
 14  Inns.y  143 non-null    int64
 15  Ov      143 non-null    float64
 16  Runs.y  143 non-null    int64
 17  Wkts    143 non-null    int64
 18  BBI     143 non-null    int64
 19  Avg.y   143 non-null    float64
 20  Econ    143 non-null    float64
 21  SR.y    143 non-null    float64
 22  X4w     143 non-null    int64
 23  X5w     143 non-null    int64
 24  y       143 non-null    int64
dtypes: float64(6), int64(18), object(1)
memory usage: 28.1+ KB

In [52]:
data.dtypes

PLAYER     object
Mat.x       int64
Inns.x      int64
NO          int64
Runs.x      int64
HS          int64
Avg.x     float64
BF          int64
SR.x      float64
X100        int64
X50         int64
X4s         int64
X6s         int64
Mat.y       int64
Inns.y      int64
Ov        float64
Runs.y      int64
Wkts        int64
BBI         int64
Avg.y     float64
Econ      float64
SR.y      float64
X4w         int64
X5w         int64
y           int64
dtype: object

In [66]:
def cos_distance(a, b):
    dot_product = np.dot(a, b)
    norm_a = np.linalg.norm(a)
    norm_b = np.linalg.norm(b)
    return 1 - (dot_product / (norm_a * norm_b))

def assign_clusters(df, centroids):
    clusters = [[] for _ in range(len(centroids))]
    for point in df:
        distance = [cos_distance(point, centroid) for centroid in centroids]
        cluster_index = np.argmin(distance)
        clusters[cluster_index].append(point)
    return clusters

def update_centroids(clusters):
    return [np.mean(cluster, axis=0) for cluster in clusters]

def kmeans(df, k, iterations=20):
    centroids = df[np.random.choice(df.shape[0], k, replace=False)]
    for _ in range(iterations):
        clusters = assign_clusters(df, centroids)
        centroids = update_centroids(clusters)
    return clusters, centroids

In [67]:
k = 3
new_data=data.drop(["PLAYER"],axis=1)

data_arr=new_data.values
data_arr

array([[10.,  9.,  1., ...,  0.,  0.,  0.],
       [12., 11.,  2., ...,  0.,  0.,  0.],
       [ 3.,  3.,  2., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [68]:
clusters, centroids = kmeans(data_arr, k)

with open("cluster_info.txt", "w") as f:
    for i, cluster in enumerate(clusters):
        f.write(f"Cluster {i+1}:\n")
        for point in cluster:
            f.write(f"{point}\n")
        f.write("\n")
    f.write("Centroids:\n")
    for centroid in centroids:
        f.write(f"{centroid}\n")

print("Clustering information saved successfully to clustering_information.txt")

Clustering information saved successfully to clustering_information.txt

In [69]:
def cosine_distance(a,b):
    return 1 - cosine_similarity([a], [b])[0][0]

def pairwise_distances(df1, df2=None):
    if df2 is None:
        df2 = df1
    l1 = len(df1)
    l2 = len(df2)
    distance = np.zeros((l1, l2))
    for i in range(l1):
        for j in range(l2):
            distance[i][j] = cosine_distance(df1[i], df2[j])
    return distance

def mean_in_cluster_distance(df, labels, i):
    cluster_points = df[labels == i]
    if len(cluster_points) < 2:
        return 0 
    return np.mean(pairwise_distances(cluster_points))

def mean_nearest_cluster_distance(df, labels, i):
    cluster_points = df[labels == i]
    if len(cluster_points) == 0:
        return 0
    min_distance = float('inf')
    for j in range(len(labels)):
        if j != i:
            other_cluster_points = df[labels == j]
            if len(other_cluster_points) < 1:
                continue 
            distance = np.mean(pairwise_distances(cluster_points, other_cluster_points))
            if distance < min_distance:
                min_distance = distance
    return min_distance

def silhouette_coefficient_for_point(df, labels, i):
    a_i = mean_in_cluster_distance(df, labels, i)
    b_i = mean_nearest_cluster_distance(df, labels, i)
    if a_i == 0 and b_i == 0:
        return 0
    return (b_i - a_i) / max(a_i, b_i)

def silhouette_score(df, labels):
    coeff = [silhouette_coefficient_for_point(df, labels, i) for i in range(len(labels))]
    return np.mean(coeff)

def calculate_silhouette_coefficient(df, clusters):
    labels = np.zeros(len(df))
    for i, cluster in enumerate(clusters):
        labels[cluster] = i

    silhouette_avg = silhouette_score(df, labels)
    return silhouette_avg

In [70]:
silhouette_coeff = calculate_silhouette_coefficient(np.vstack(clusters), [i for i in range(len(clusters))])
print("Silhouette Coefficient Value : ", silhouette_coeff)

Silhouette Coefficient Value :  0.011438683630212436

In [71]:
def find_optimal_k(df, max_k=6):
    optimal_k = None
    max_silhouette_coeff = -1
    optimal_clusters = None

    for k in range(3, max_k+1):
        clusters, _ = kmeans(df, k)
        silhouette_coeff = calculate_silhouette_coefficient(np.vstack(clusters), [i for i in range(len(clusters))])
        print("For k =", k, ", Silhouette Coefficient Value:", silhouette_coeff)

        if silhouette_coeff > max_silhouette_coeff:
            max_silhouette_coeff = silhouette_coeff
            optimal_k = k
            optimal_clusters = clusters

    return optimal_k, max_silhouette_coeff, optimal_clusters

In [72]:
optimal_k, max_silhouette_coeff, optimal_clusters = find_optimal_k(data_arr)
print("Optimal number of clusters (k) are :", optimal_k)
print("Max Silhouette Coefficient Value:", max_silhouette_coeff)

optimal_clusters_file = "optimal_clusters_info.txt"
with open(optimal_clusters_file, "w") as f:
    for i, cluster in enumerate(optimal_clusters):
        f.write(f"Cluster {i+1}:\n")
        for point in cluster:
            f.write(f"{point}\n")
        f.write("\n")

print(f"Optimal clusters information saved successfully to optimal_clusters_info.txt")

For k = 3 , Silhouette Coefficient Value: 0.015011447985837775
For k = 4 , Silhouette Coefficient Value: 0.022062523331081427
For k = 5 , Silhouette Coefficient Value: 0.02891697176697248
For k = 6 , Silhouette Coefficient Value: 0.03596748896579959
Optimal number of clusters (k) are : 6
Max Silhouette Coefficient Value: 0.03596748896579959
Optimal clusters information saved successfully to optimal_clusters_info.txt

In [94]:
def divisive_clustering(df, k):
    C = []
    C0 = [i for i in range(len(df))] 
    C.append(C0)

    while len(C) < k:
        max_similarity = 2 
        max_index = 0
        print('Number of Clusters: '+str(len(C)))
        for i in range(len(C)):
            temp = C[i]
            if len(temp) == 1:
                continue
            for j in range(len(temp)):
                for l in range(j + 1, len(temp)):
                    similarity = np.dot(df[temp[j]], df[temp[l]])
                    similarity = similarity/ (np.linalg.norm(df[temp[j]]) * np.linalg.norm(df[temp[l]]) )
                    if similarity < max_similarity:
                        max_similarity = similarity
                        max_index = i

        Cs = C[max_index]
        print('Cluster to be divided: '+str(max_index))
        C.remove(Cs)
        temp = []
        for i in Cs:
            sim = 0
            for j in Cs:
                if i == j:
                    continue
                sim += np.arccos(np.dot(df[i], df[j])/(np.linalg.norm(df[i]) * np.linalg.norm(df[j])))
            if len(Cs) > 1:
                sim = sim / (len(Cs) - 1)
            temp.append(sim)

        C1 = [Cs[np.argmax(temp)]]
        Cs.remove(Cs[np.argmax(temp)])

        while len(Cs) > 0:
            print('Number of elements in Cluster: '+str(len(Cs)))
            final_sims = []
            for i in Cs:
                intra_sim = 0
                for j in Cs:
                    if i == j:
                        continue
                    intra_sim += np.arccos(np.dot(df[i], df[j])/(np.linalg.norm(df[i]) * np.linalg.norm(df[j])))
                intra_sim = intra_sim / (len(Cs) - 1) if len(Cs) > 1 else 0
                inter_sim = 0
                for j in C1:
                    inter_sim += np.arccos(np.dot(df[i], df[j])/(np.linalg.norm(df[i]) * np.linalg.norm(df[j])))
                inter_sim = inter_sim / len(C1)
                final_sims.append(intra_sim - inter_sim)

            if max(final_sims) < 0:
                break
            C1.append(Cs[np.argmax(final_sims)])
            Cs.remove(Cs[np.argmax(final_sims)])

        C.append(C1)
        C.append(Cs)
        print('Number of Clusters: '+str(len(C)))

    return C

In [95]:
k = optimal_k
clusters = divisive_clustering(data_arr, k)

with open('divisive_clusters_info.txt', 'w') as file:
    file.write(f'Number of Clusters: {len(clusters)}\n\n')
    for cluster_idx, cluster in enumerate(clusters):
        file.write(f'Cluster {cluster_idx + 1}:\n')
        for point_idx in cluster:
            file.write(' '.join(map(str, data_arr[point_idx])) + '\n')
        file.write('\n')

Number of Clusters: 1
Cluster to be divided: 0
Number of elements in Cluster: 142
Number of elements in Cluster: 141
Number of elements in Cluster: 140
Number of elements in Cluster: 139
Number of elements in Cluster: 138
Number of elements in Cluster: 137
Number of elements in Cluster: 136
Number of elements in Cluster: 135
Number of elements in Cluster: 134
Number of elements in Cluster: 133
Number of elements in Cluster: 132
Number of elements in Cluster: 131
Number of elements in Cluster: 130
Number of elements in Cluster: 129
Number of elements in Cluster: 128
Number of elements in Cluster: 127
Number of elements in Cluster: 126
Number of elements in Cluster: 125
Number of elements in Cluster: 124
Number of elements in Cluster: 123
Number of elements in Cluster: 122
Number of elements in Cluster: 121
Number of elements in Cluster: 120
Number of elements in Cluster: 119
Number of elements in Cluster: 118
Number of elements in Cluster: 117
Number of elements in Cluster: 116
Number of elements in Cluster: 115
Number of elements in Cluster: 114
Number of elements in Cluster: 113
Number of elements in Cluster: 112
Number of elements in Cluster: 111
Number of elements in Cluster: 110
Number of elements in Cluster: 109
Number of elements in Cluster: 108
Number of elements in Cluster: 107
Number of elements in Cluster: 106
Number of elements in Cluster: 105
Number of elements in Cluster: 104
Number of elements in Cluster: 103
Number of elements in Cluster: 102
Number of elements in Cluster: 101
Number of elements in Cluster: 100
Number of elements in Cluster: 99
Number of elements in Cluster: 98
Number of elements in Cluster: 97
Number of elements in Cluster: 96
Number of elements in Cluster: 95
Number of elements in Cluster: 94
Number of elements in Cluster: 93
Number of elements in Cluster: 92
Number of elements in Cluster: 91
Number of elements in Cluster: 90
Number of elements in Cluster: 89
Number of elements in Cluster: 88
Number of elements in Cluster: 87
Number of elements in Cluster: 86
Number of elements in Cluster: 85
Number of elements in Cluster: 84
Number of elements in Cluster: 83
Number of elements in Cluster: 82
Number of elements in Cluster: 81
Number of elements in Cluster: 80
Number of elements in Cluster: 79
Number of elements in Cluster: 78
Number of elements in Cluster: 77
Number of elements in Cluster: 76
Number of elements in Cluster: 75
Number of elements in Cluster: 74
Number of elements in Cluster: 73
Number of elements in Cluster: 72
Number of elements in Cluster: 71
Number of elements in Cluster: 70
Number of elements in Cluster: 69
Number of elements in Cluster: 68
Number of elements in Cluster: 67
Number of elements in Cluster: 66
Number of elements in Cluster: 65
Number of Clusters: 2
Number of Clusters: 2
Cluster to be divided: 1
Number of elements in Cluster: 64
Number of elements in Cluster: 63
Number of elements in Cluster: 62
Number of elements in Cluster: 61
Number of elements in Cluster: 60
Number of elements in Cluster: 59
Number of elements in Cluster: 58
Number of elements in Cluster: 57
Number of elements in Cluster: 56
Number of elements in Cluster: 55
Number of elements in Cluster: 54
Number of elements in Cluster: 53
Number of elements in Cluster: 52
Number of elements in Cluster: 51
Number of elements in Cluster: 50
Number of elements in Cluster: 49
Number of elements in Cluster: 48
Number of elements in Cluster: 47
Number of Clusters: 3
Number of Clusters: 3
Cluster to be divided: 0
Number of elements in Cluster: 77
Number of elements in Cluster: 76
Number of elements in Cluster: 75
Number of elements in Cluster: 74
Number of elements in Cluster: 73
Number of elements in Cluster: 72
Number of elements in Cluster: 71
Number of elements in Cluster: 70
Number of elements in Cluster: 69
Number of elements in Cluster: 68
Number of elements in Cluster: 67
Number of elements in Cluster: 66
Number of elements in Cluster: 65
Number of elements in Cluster: 64
Number of elements in Cluster: 63
Number of elements in Cluster: 62
Number of elements in Cluster: 61
Number of elements in Cluster: 60
Number of elements in Cluster: 59
Number of elements in Cluster: 58
Number of elements in Cluster: 57
Number of elements in Cluster: 56
Number of elements in Cluster: 55
Number of elements in Cluster: 54
Number of elements in Cluster: 53
Number of elements in Cluster: 52
Number of elements in Cluster: 51
Number of elements in Cluster: 50
Number of elements in Cluster: 49
Number of elements in Cluster: 48
Number of elements in Cluster: 47
Number of elements in Cluster: 46
Number of elements in Cluster: 45
Number of elements in Cluster: 44
Number of elements in Cluster: 43
Number of elements in Cluster: 42
Number of elements in Cluster: 41
Number of elements in Cluster: 40
Number of elements in Cluster: 39
Number of elements in Cluster: 38
Number of elements in Cluster: 37
Number of elements in Cluster: 36
Number of elements in Cluster: 35
Number of elements in Cluster: 34
Number of elements in Cluster: 33
Number of elements in Cluster: 32
Number of elements in Cluster: 31
Number of elements in Cluster: 30
Number of elements in Cluster: 29
Number of elements in Cluster: 28
Number of elements in Cluster: 27
Number of elements in Cluster: 26
Number of Clusters: 4
Number of Clusters: 4
Cluster to be divided: 2
Number of elements in Cluster: 51
Number of elements in Cluster: 50
Number of elements in Cluster: 49
Number of elements in Cluster: 48
Number of elements in Cluster: 47
Number of elements in Cluster: 46
Number of elements in Cluster: 45
Number of Clusters: 5
Number of Clusters: 5
Cluster to be divided: 4
Number of elements in Cluster: 44
Number of elements in Cluster: 43
Number of elements in Cluster: 42
Number of elements in Cluster: 41
Number of elements in Cluster: 40
Number of elements in Cluster: 39
Number of elements in Cluster: 38
Number of elements in Cluster: 37
Number of elements in Cluster: 36
Number of elements in Cluster: 35
Number of Clusters: 6